<div class="container">
  <div class="well well-sm" style="margin-top: 300px">
      <div class="row">
        <div class="col-sm-6 boton-rigth">
                  <%= link_to "Reservar en linea", {:controller => 'services/reservations', :action => 'new', :show => @show.id},{:style=>'color:#FFFFFF;',  :class => "btn btn-primary"} %>
        </div>
        <div class="col-sm-6">
            <%= link_to "Comprar en linea", {:controller => 'services/purchases', :action => 'new', :show => @show.id}, {:style=>'color:#FFFFFF;', :class => "btn btn-primary"} %>
        </div>
      </div>
  </div>
</div>

	
