
<h1>Admin</h1>
<h3>Menu</h3>

<br>
<h4><%= link_to "Agregar/Editar Pelicula", new_admin_pelicula_path %></h4>
<br>	
<h4><%= link_to "Agregar/Editar Precio", new_admin_price_path %></h4>
<br>	
<h4><%= link_to "Agregar/Editar Horas", new_admin_schedule_path %></h4>
