

<section class="contenido_registro">
        <div class="tit_acc">
            <h4>CREAR CUENTA</h4>
        </div>
        <div class="reg_text">
            <p>Para poder disfrutar todos los servicios de <a href="/">www.hackmax.com</a> debes realizar un rápido y sencillo registro.</p>

            <div class="registrarse"><%= link_to "REGISTRARSE", new_users_register_path %></div>
        </div>
 </section>

 


